<h1>Login</h1>
<form method="POST">
  <label>Username:</label><br><input name="username" required><br>
  <label>Password:</label><br><input type="password" name="password" required><br>
  <button type="submit">Login</button>
</form>
<a href="/signup">Sign up</a> | <a href="/reset-password">Forgot password?</a>
